<!DOCTYPE html>
<html>
<head>
  <title>RspecApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Rails5</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    	<% if user_signed_in? %>
	      <li><%= link_to " Sign-Out ", destroy_user_session_path, :method => :delete,  class: "glyphicon glyphicon-log-out", :style => "color:#fff;" %></li>
	    <% else %>  
	      <li><%= link_to " Sign-Up",  new_user_registration_path, :method => :get , class: "glyphicon glyphicon-log-in", :style => "color:#fff;"%></li>
	      <li><%= link_to " Login", new_user_session_path, :method => :get , class: "glyphicon glyphicon-log-in", :style => "color:#fff;"%></li>
	    <% end %>  
    </ul>
  </div>
</nav>		
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
